{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for venue in results.data %}
	<li>
		<div>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
		</div>
	</li>
	<div>
		{% if venue.upcoming_shows %}
		<small>{{ venue.upcoming_shows }} upcoming shows</small>
		{% else %}
		<small>No upcoming shows</small>
		{% endif %}
	</div>
	{% endfor %}
</ul>
{% endblock %}